body {
    background-color: #FBFBFB;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.front {
    height: 100vh;
    display: flex;
    align-items: center;
    .container {
        max-width: 1000px;
        text-align: center;
        margin: 0 auto;

        img {
            display: block;
        }

        a {
            display: block;
        }
    }
}


footer {
    background-color: #303030;
    padding: 15px 0px;
    text-align: center;
    color: #999;
}